contextmenu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 200px;
    background: rgba(22,22,22,0.6);
    backdrop-filter: blur(20px);
    z-index: 35;
    transform: translateX(-100px) translateY(-5px);
    flex-direction: column;
    transition: clip-path .2s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

contextmenu > option {
    width: 100%;
    height: auto;
    padding: .25rem;
    background: transparent;
    transition: background .2s, color .2s;
    cursor: pointer;
    font-size: 1rem;
}

contextmenu > option:hover {
    color: #000;
    background: var(--accent-color);
}

contextmenu.open {
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}