#tooltip { 
    position:absolute;
    z-index: 30;
    margin: 2px;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-wrap: wrap;
    user-select: none !important;
    border-radius: 4px;
    background: transparent;
    background: rgba(22,22,22,0.6);
    backdrop-filter: blur(20px);
    /* border-left: 4px solid #ffffff8e; */
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    font-size: .9rem;
}