container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.logo {
  font-size: 2rem;
}

aside {
  height: 100%;
  height: 100vh;
  /* min-width: calc(100px + 20%); */
  position: fixed;
  width: 100%;
  max-width: 300px;
  background: var(--secondary-background);
  z-index: 5;
  padding: 20px;
}

header {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--secondary-background);
  -webkit-app-region: drag;
}

main {
  background: var(--main-background);
  width: 100%;
  height: 100vh;
  padding-left: 300px;
}

nav {
  display: flex;
  max-height: 40px;
}

nav button {
  transition: background .1s;
  min-width: 40px;
  -webkit-app-region: no-drag;
  background: var(--secondary-background);
}

nav button img {
  transition: filter .1s;
}

nav button:hover {
  background: var(--accent-color);
}

nav button:hover img {
  filter: invert();
}

label {
  opacity: 0.5;
}

[for="tags"], [for="page"]{
  bottom: -33px;
}

#tags, #page{
  padding-left: 60px;
}


input {
  max-width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  color: var(--text-color);
  padding: 4px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--main-background);
  transition: border-bottom .3s;
}

input:hover, input:active, input:focus {
  border-bottom: 2px solid var(--accent-color);
}

grid {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;

  width: 100%;
  height: calc(100% - var(--pagination-height));

  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 900px;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s, top 0.3s;
  top: 12px;
  width: 225px;
}

pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  display: none;
}

article img:hover {
  transform: scale(1.025);
}

article img {
  cursor: pointer;
  border-radius: 2px;
}

img,video {
  margin: 10px;
  max-width: 100%;
  transition: transform .2s;
}

display-wrapper {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 10;
  transition: background .2s, opacity .2s, visibility .2s;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
  padding: 10px;
  backdrop-filter: blur(3px);
  opacity: 0;
}


display-wrapper.open {
  display: flex;
  visibility: visible;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

display-wrapper.open img {
  top: 0;
}

display-wrapper img {
  background: linear-gradient(0deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%);
  max-width: calc(100% - 10px);
  height: auto;
  max-height: 100%;
  cursor: grab;
  transition: transform 0s, top .4s, filter .2s;
  top: -20px;
  background-repeat: no-repeat;
  background-size: cover;
}



display-buttons {
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

display-buttons a, display-buttons button {
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.62);
}

grid.reflow article {
  width: auto;
}
