@import url("components.css");
@import url("scrollbar.css");
@import url("components/drawer.css");

/* set variables */
:root {
  --main-background: #1d1d1d;
  --secondary-background: #161616;
  --text-color: #fff;
  --accent-color: #65b3ef;
  --drawer-speed: .3s;
}
[data-theme="dark"] {
  --main-background: #101010;
  --secondary-background: #000000;
  --text-color: #ececec;
  --accent-color: #65b3ef;
}
/* boilerplate colors */
html {
  box-sizing: border-box;
  background: transparent;
  color: var(--text-color);
}
/* simple normalize */
*,* * {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: inherit;
  font-size: 1.2rem;
  max-width: 100%;
  line-height: 1.3;
  font-family: Segoe UI, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
/* fix <head> bug */
head {
  display: none !important;
  visibility: hidden;
}
button {
  cursor: pointer;
  outline: 0;
  border: 0;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}