@import url("components.css");
@import url("scrollbar.css");
@import url("components/drawer.css");
@import url("components/switch.css");
@import url("components/toasts.css");
@import url("components/bottom-options.css");
@import url("components/tooltip.css");
@import url("components/loading.css");
@import url("fonts.css");

/* set variables */
:root {
  --drawer-speed: .3s;
  /* can remove
  --main-background: #1d1d1d;
  --secondary-background: #161616;
  --text-color: #fff;
  --accent-color: #65b3ef; */
}
body {
  --aside-width: 330px;
}
[data-theme="default"] {
  --main-background: #1d1d1d;
  --secondary-background: #161616;
  --text-color: #fff;
  --accent-color: #65b3ef;
}
[data-theme="dark"] {
  --main-background: #101010;
  --secondary-background: #000000;
  --text-color: #ececec;
  --accent-color: #cecece;
}
[data-theme="midnight"] {
  --main-background: #1c1b29;
  --secondary-background: #161621;
  --text-color: #ffffff;
  --accent-color: #4cd7c6;
}
[data-theme="rule34"] {
  --main-background: #aae5a3;
  --secondary-background: #93c393;
  --text-color: #000000;
  --accent-color: #009;
}
/* boilerplate colors */
html {
  box-sizing: border-box;
  background: transparent;
  color: var(--text-color);
}
/* simple normalize */
*,* * {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: inherit;
  font-size: 1.2rem;
  max-width: 100%;
  line-height: 1.3;
  font-family: "JosefinSans", Segoe UI, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
/* fix <head> bug */
head {
  display: none !important;
  visibility: hidden;
}
button {
  cursor: pointer;
  outline: 0;
  border: 0;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}